<ion-content no-padding>
  <ion-card no-padding>
    <ion-card-content no-padding>
      <ion-card-header>Escolhas do oponente</ion-card-header>
      <ion-grid>
        <ion-row class="linha">
          <ion-col class="linha">
            <img [src] = "GetImage(0, 0, 'oponente')">           
          </ion-col>
          <ion-col class="linha">
            <img [src] = "GetImage(0, 1, 'oponente')">            
          </ion-col>
          <ion-col class="linha">
            <img [src] = "GetImage(0, 2, 'oponente')">           
          </ion-col>
          <ion-col class="linha">
            <img [src] = "GetImage(0, 3, 'oponente')">            
          </ion-col>
          <ion-col class="linha">
            <img [src] = "GetImage(0, 4, 'oponente')">            
          </ion-col>
          <ion-col class="linha">
            <img [src] = "GetImage(0, 5, 'oponente')">            
          </ion-col>
          <ion-col class="linha">
            <img [src] = "GetImage(0, 6, 'oponente')">            
          </ion-col>
          <ion-col class="linha">
            <img [src] = "GetImage(0, 7, 'oponente')">            
          </ion-col>
          <ion-col class="linha">
            <img [src] = "GetImage(0, 8, 'oponente')">            
          </ion-col>
          <ion-col class="linha">
            <img [src] = "GetImage(0, 9, 'oponente')">            
          </ion-col>
        </ion-row>

        <ion-row class="linha">
          <ion-col class="linha">
            <img [src] = "GetImage(1, 0, 'oponente')">            
          </ion-col>
          <ion-col class="linha">
            <img [src] = "GetImage(1, 1, 'oponente')">            
          </ion-col>
          <ion-col class="linha">
            <img [src] = "GetImage(1, 2, 'oponente')">            
          </ion-col>
          <ion-col class="linha">
            <img [src] = "GetImage(1, 3, 'oponente')">            
          </ion-col>
          <ion-col class="linha">
            <img [src] = "GetImage(1, 4, 'oponente')">            
          </ion-col>
          <ion-col class="linha">
            <img [src] = "GetImage(1, 5, 'oponente')">            
          </ion-col>
          <ion-col class="linha">
            <img [src] = "GetImage(1, 6, 'oponente')">            
          </ion-col>
          <ion-col class="linha">
            <img [src] = "GetImage(1, 7, 'oponente')">            
          </ion-col>
          <ion-col class="linha">
            <img [src] = "GetImage(1, 8, 'oponente')">            
          </ion-col>
          <ion-col class="linha">
            <img [src] = "GetImage(1, 9, 'oponente')">            
          </ion-col>
        </ion-row>

        <ion-row class="linha">
          <ion-col class="linha">
            <img [src] = "GetImage(2, 0, 'oponente')">            
          </ion-col>
          <ion-col class="linha">
            <img [src] = "GetImage(2, 1, 'oponente')">            
          </ion-col>
          <ion-col class="linha">
            <img [src] = "GetImage(2, 2, 'oponente')">            
          </ion-col>
          <ion-col class="linha">
            <img [src] = "GetImage(2, 3, 'oponente')">            
          </ion-col>
          <ion-col class="linha">
            <img [src] = "GetImage(2, 4, 'oponente')">            
          </ion-col>
          <ion-col class="linha">
            <img [src] = "GetImage(2, 5, 'oponente')">            
          </ion-col>
          <ion-col class="linha">
            <img [src] = "GetImage(2, 6, 'oponente')">            
          </ion-col>
          <ion-col class="linha">
            <img [src] = "GetImage(2, 7, 'oponente')">            
          </ion-col>
          <ion-col class="linha">
            <img [src] = "GetImage(2, 8, 'oponente')">            
          </ion-col>
          <ion-col class="linha">
            <img [src] = "GetImage(2, 9, 'oponente')">            
          </ion-col>
        </ion-row>

        <ion-row class="linha">
          <ion-col class="linha">
            <img [src] = "GetImage(3, 0, 'oponente')">
          </ion-col>
          <ion-col class="linha">
            <img [src] = "GetImage(3, 1, 'oponente')">            
          </ion-col>
          <ion-col class="linha">
            <img [src] = "GetImage(3, 2, 'oponente')">            
          </ion-col>
          <ion-col class="linha">
            <img [src] = "GetImage(3, 3, 'oponente')">            
          </ion-col>
          <ion-col class="linha">
            <img [src] = "GetImage(3, 4, 'oponente')">            
          </ion-col>
          <ion-col class="linha">
            <img [src] = "GetImage(3, 5, 'oponente')">           
          </ion-col>
          <ion-col class="linha">
            <img [src] = "GetImage(3, 6, 'oponente')">            
          </ion-col>
          <ion-col class="linha">
            <img [src] = "GetImage(3, 7, 'oponente')">            
          </ion-col>
          <ion-col class="linha">
            <img [src] = "GetImage(3, 8, 'oponente')">            
          </ion-col>
          <ion-col class="linha">
            <img [src] = "GetImage(3, 9, 'oponente')">            
          </ion-col>
        </ion-row>

        <ion-row class="linha">
          <ion-col class="linha">
            <img [src] = "GetImage(4, 0, 'oponente')">           
          </ion-col>
          <ion-col class="linha">
            <img [src] = "GetImage(4, 1, 'oponente')">            
          </ion-col>
          <ion-col class="linha">
            <img [src] = "GetImage(4, 2, 'oponente')">           
          </ion-col>
          <ion-col class="linha">
            <img [src] = "GetImage(4, 3, 'oponente')">            
          </ion-col>
          <ion-col class="linha">
            <img [src] = "GetImage(4, 4, 'oponente')">           
          </ion-col>
          <ion-col class="linha">
            <img [src] = "GetImage(4, 5, 'oponente')">            
          </ion-col>
          <ion-col class="linha">
            <img [src] = "GetImage(4, 6, 'oponente')">           
          </ion-col>
          <ion-col class="linha">
            <img [src] = "GetImage(4, 7, 'oponente')">            
          </ion-col>
          <ion-col class="linha">
            <img [src] = "GetImage(4, 8, 'oponente')">           
          </ion-col>
          <ion-col class="linha">
            <img [src] = "GetImage(4, 9, 'oponente')">            
          </ion-col>
        </ion-row>

        <ion-row class="linha">
          <ion-col class="linha">
            <img [src] = "GetImage(5, 0, 'oponente')">            
          </ion-col>
          <ion-col class="linha">
            <img [src] = "GetImage(5, 1, 'oponente')">           
          </ion-col>
          <ion-col class="linha">
            <img [src] = "GetImage(5, 2, 'oponente')">            
          </ion-col>
          <ion-col class="linha">
            <img [src] = "GetImage(5, 3, 'oponente')">            
          </ion-col>
          <ion-col class="linha">
            <img [src] = "GetImage(5, 4, 'oponente')">            
          </ion-col>
          <ion-col class="linha">
            <img [src] = "GetImage(5, 5, 'oponente')">           
          </ion-col>
          <ion-col class="linha">
            <img [src] = "GetImage(5, 6, 'oponente')">           
          </ion-col>
          <ion-col class="linha">
            <img [src] = "GetImage(5, 7, 'oponente')">            
          </ion-col>
          <ion-col class="linha">
            <img [src] = "GetImage(5, 8, 'oponente')">           
          </ion-col>
          <ion-col class="linha">
            <img [src] = "GetImage(5, 9, 'oponente')">            
          </ion-col>
        </ion-row> 
      </ion-grid>
    </ion-card-content>
  </ion-card>


  <ion-card no-padding>    
    <ion-card-content no-padding>
      <ion-card-header>Escolhas próprias</ion-card-header>
      <ion-grid>
        <ion-row class="linha">
          <ion-col class="linha">
            <img [src] = "GetImage(0, 0, 'proprio')" (click)="Procurar(0, 0)">           
          </ion-col>
          <ion-col class="linha">
            <img [src] = "GetImage(0, 1, 'proprio')" (click)="Procurar(0, 1)">            
          </ion-col>
          <ion-col class="linha">
            <img [src] = "GetImage(0, 2, 'proprio')" (click)="Procurar(0, 2)">           
          </ion-col>
          <ion-col class="linha">
            <img [src] = "GetImage(0, 3, 'proprio')" (click)="Procurar(0, 3)">            
          </ion-col>
          <ion-col class="linha">
            <img [src] = "GetImage(0, 4, 'proprio')" (click)="Procurar(0, 4)">            
          </ion-col>
          <ion-col class="linha">
            <img [src] = "GetImage(0, 5, 'proprio')" (click)="Procurar(0, 5)">            
          </ion-col>
          <ion-col class="linha">
            <img [src] = "GetImage(0, 6, 'proprio')" (click)="Procurar(0, 6)">            
          </ion-col>
          <ion-col class="linha">
            <img [src] = "GetImage(0, 7, 'proprio')" (click)="Procurar(0, 7)">            
          </ion-col>
          <ion-col class="linha">
            <img [src] = "GetImage(0, 8, 'proprio')" (click)="Procurar(0, 8)">            
          </ion-col>
          <ion-col class="linha">
            <img [src] = "GetImage(0, 9, 'proprio')" (click)="Procurar(0, 9)">            
          </ion-col>
        </ion-row>

        <ion-row class="linha">
          <ion-col class="linha">
            <img [src] = "GetImage(1, 0, 'proprio')" (click)="Procurar(1, 0)">            
          </ion-col>
          <ion-col class="linha">
            <img [src] = "GetImage(1, 1, 'proprio')" (click)="Procurar(1, 1)">            
          </ion-col>
          <ion-col class="linha">
            <img [src] = "GetImage(1, 2, 'proprio')" (click)="Procurar(1, 2)">            
          </ion-col>
          <ion-col class="linha">
            <img [src] = "GetImage(1, 3, 'proprio')" (click)="Procurar(1, 3)">            
          </ion-col>
          <ion-col class="linha">
            <img [src] = "GetImage(1, 4, 'proprio')" (click)="Procurar(1, 4)">            
          </ion-col>
          <ion-col class="linha">
            <img [src] = "GetImage(1, 5, 'proprio')" (click)="Procurar(1, 5)">            
          </ion-col>
          <ion-col class="linha">
            <img [src] = "GetImage(1, 6, 'proprio')" (click)="Procurar(1, 6)">            
          </ion-col>
          <ion-col class="linha">
            <img [src] = "GetImage(1, 7, 'proprio')" (click)="Procurar(1, 7)">            
          </ion-col>
          <ion-col class="linha">
            <img [src] = "GetImage(1, 8, 'proprio')" (click)="Procurar(1, 8)">            
          </ion-col>
          <ion-col class="linha">
            <img [src] = "GetImage(1, 9, 'proprio')" (click)="Procurar(1, 9)">            
          </ion-col>
        </ion-row>

        <ion-row class="linha">
          <ion-col class="linha">
            <img [src] = "GetImage(2, 0, 'proprio')" (click)="Procurar(2, 0)">            
          </ion-col>
          <ion-col class="linha">
            <img [src] = "GetImage(2, 1, 'proprio')" (click)="Procurar(2, 1)">            
          </ion-col>
          <ion-col class="linha">
            <img [src] = "GetImage(2, 2, 'proprio')" (click)="Procurar(2, 2)">            
          </ion-col>
          <ion-col class="linha">
            <img [src] = "GetImage(2, 3, 'proprio')" (click)="Procurar(2, 3)">            
          </ion-col>
          <ion-col class="linha">
            <img [src] = "GetImage(2, 4, 'proprio')" (click)="Procurar(2, 4)">            
          </ion-col>
          <ion-col class="linha">
            <img [src] = "GetImage(2, 5, 'proprio')" (click)="Procurar(2, 5)">            
          </ion-col>
          <ion-col class="linha">
            <img [src] = "GetImage(2, 6, 'proprio')" (click)="Procurar(2, 6)">            
          </ion-col>
          <ion-col class="linha">
            <img [src] = "GetImage(2, 7, 'proprio')" (click)="Procurar(2, 7)">            
          </ion-col>
          <ion-col class="linha">
            <img [src] = "GetImage(2, 8, 'proprio')" (click)="Procurar(2, 8)">            
          </ion-col>
          <ion-col class="linha">
            <img [src] = "GetImage(2, 9, 'proprio')" (click)="Procurar(2, 9)">            
          </ion-col>
        </ion-row>

        <ion-row class="linha">
          <ion-col class="linha">
            <img [src] = "GetImage(3, 0, 'proprio')" (click)="Procurar(3, 0)">
          </ion-col>
          <ion-col class="linha">
            <img [src] = "GetImage(3, 1, 'proprio')" (click)="Procurar(3, 1)">            
          </ion-col>
          <ion-col class="linha">
            <img [src] = "GetImage(3, 2, 'proprio')" (click)="Procurar(3, 2)">            
          </ion-col>
          <ion-col class="linha">
            <img [src] = "GetImage(3, 3, 'proprio')" (click)="Procurar(3, 3)">            
          </ion-col>
          <ion-col class="linha">
            <img [src] = "GetImage(3, 4, 'proprio')" (click)="Procurar(3, 4)">            
          </ion-col>
          <ion-col class="linha">
            <img [src] = "GetImage(3, 5, 'proprio')" (click)="Procurar(3, 5)">           
          </ion-col>
          <ion-col class="linha">
            <img [src] = "GetImage(3, 6, 'proprio')" (click)="Procurar(3, 6)">            
          </ion-col>
          <ion-col class="linha">
            <img [src] = "GetImage(3, 7, 'proprio')" (click)="Procurar(3, 7)">            
          </ion-col>
          <ion-col class="linha">
            <img [src] = "GetImage(3, 8, 'proprio')" (click)="Procurar(3, 8)">            
          </ion-col>
          <ion-col class="linha">
            <img [src] = "GetImage(3, 9, 'proprio')" (click)="Procurar(3, 9)">            
          </ion-col>
        </ion-row>

        <ion-row class="linha">
          <ion-col class="linha">
            <img [src] = "GetImage(4, 0, 'proprio')" (click)="Procurar(4, 0)">           
          </ion-col>
          <ion-col class="linha">
            <img [src] = "GetImage(4, 1, 'proprio')" (click)="Procurar(4, 1)">            
          </ion-col>
          <ion-col class="linha">
            <img [src] = "GetImage(4, 2, 'proprio')" (click)="Procurar(4, 2)">           
          </ion-col>
          <ion-col class="linha">
            <img [src] = "GetImage(4, 3, 'proprio')" (click)="Procurar(4, 3)">            
          </ion-col>
          <ion-col class="linha">
            <img [src] = "GetImage(4, 4, 'proprio')" (click)="Procurar(4, 4)">           
          </ion-col>
          <ion-col class="linha">
            <img [src] = "GetImage(4, 5, 'proprio')" (click)="Procurar(4, 5)">            
          </ion-col>
          <ion-col class="linha">
            <img [src] = "GetImage(4, 6, 'proprio')" (click)="Procurar(4, 6)">           
          </ion-col>
          <ion-col class="linha">
            <img [src] = "GetImage(4, 7, 'proprio')" (click)="Procurar(4, 7)">            
          </ion-col>
          <ion-col class="linha">
            <img [src] = "GetImage(4, 8, 'proprio')" (click)="Procurar(4, 8)">           
          </ion-col>
          <ion-col class="linha">
            <img [src] = "GetImage(4, 9, 'proprio')" (click)="Procurar(4, 9)">            
          </ion-col>
        </ion-row>

        <ion-row class="linha">
          <ion-col class="linha">
            <img [src] = "GetImage(5, 0, 'proprio')" (click)="Procurar(5, 0)">            
          </ion-col>
          <ion-col class="linha">
            <img [src] = "GetImage(5, 1, 'proprio')" (click)="Procurar(5, 1)">           
          </ion-col>
          <ion-col class="linha">
            <img [src] = "GetImage(5, 2, 'proprio')" (click)="Procurar(5, 2)">            
          </ion-col>
          <ion-col class="linha">
            <img [src] = "GetImage(5, 3, 'proprio')" (click)="Procurar(5, 3)">            
          </ion-col>
          <ion-col class="linha">
            <img [src] = "GetImage(5, 4, 'proprio')" (click)="Procurar(5, 4)">            
          </ion-col>
          <ion-col class="linha">
            <img [src] = "GetImage(5, 5, 'proprio')" (click)="Procurar(5, 5)">           
          </ion-col>
          <ion-col class="linha">
            <img [src] = "GetImage(5, 6, 'proprio')" (click)="Procurar(5, 6)">           
          </ion-col>
          <ion-col class="linha">
            <img [src] = "GetImage(5, 7, 'proprio')" (click)="Procurar(5, 7)">            
          </ion-col>
          <ion-col class="linha">
            <img [src] = "GetImage(5, 8, 'proprio')" (click)="Procurar(5, 8)">           
          </ion-col>
          <ion-col class="linha">
            <img [src] = "GetImage(5, 9, 'proprio')" (click)="Procurar(5, 9)">            
          </ion-col>
        </ion-row>  
      </ion-grid>
    </ion-card-content>
  </ion-card>
  <ion-label id = "Aguardando" *ngIf = "part.turno == false && GameOver == false">Aguardando oponente...</ion-label>
  <ion-label id = "Aguardando" *ngIf = "part.turno == true && GameOver == false">Sua vez!</ion-label>
  <ion-label id = "Aguardando" *ngIf = "GameOver == true">Fim de jogo</ion-label>
  <ion-button expand="block" *ngIf = "GameOver == true" (click)="NovoJogo()">Nova partida</ion-button>
</ion-content>