<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content class="ion-padding">
   
  <form [formGroup]="credentialForm">
    <ion-item>
      <ion-input
        placeholder="Nome"
        formControlName="nome"
        autofocus="true"
        clearInput="true"
      ></ion-input>
    </ion-item>
    <div *ngIf="(nome.dirty || nome.touched) && nome.errors" class="errors">
      <span *ngIf="nome.errors?.required">Nome é obrigatório</span>
      <span *ngIf="nome.errors?.nome">Nome é inválido</span>
    </div>

    <ion-item>
      <ion-input
        placeholder="Email address"
        formControlName="email"
        autofocus="true"
        clearInput="true"
      ></ion-input>
    </ion-item>
    <div *ngIf="(email.dirty || email.touched) && email.errors" class="errors">
      <span *ngIf="email.errors?.required">Email é obrigatório</span>
      <span *ngIf="email.errors?.email">O Email digitado é invalido</span>
    </div>
 
    <ion-item>
      <ion-input
      placeholder="Password"
      type="password"
      formControlName="password"
      clearInput="true"
    ></ion-input>
    </ion-item>
    <div *ngIf="(password.dirty || password.touched) && password.errors" class="errors">
      <span *ngIf="password.errors?.required">A senha é obrigatória</span>
      <span *ngIf="password.errors?.minlength">A senha precisa ter no mínimo seis caracteres</span>
    </div>
  </form>
 
    <ion-button (click)="signUp()" expand="full">Registrar</ion-button>
    <ion-button (click)="signIn()" expand="full" color="secondary">Entrar</ion-button>

</ion-content>